<svg width="51" height="49" version="1.1" viewBox="0 0 51 49" ng-repeat="star in stars track by $index">
    <clipPath ng-attr-id="{{clipPath.id}}" ng-if="$first">
        <rect cx="0" cy="0" ng-attr-width="{{clipPath.width * 51}}" height="49"></rect>
    </clipPath>
    <path
        d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"
        stroke-width="2"
        fill="transparent"
        stroke="#555555">
    </path>
    <path
        d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"
        fill="transparent"
        stroke="#CD2E1B"
        stroke-width="2"
        ng-if="star.active"
        ng-attr-clip-path="{{star.clip && 'url(#' + clipPath.id + ')' || ''}}">
    </path>
</svg>