<div class="films">
    <div ng-repeat="film in films" class="film">
        <h2>{{film.title}}</h2>
        <img class="backdrop" src="" width="300" height="165">

        <time>{{film.release_date | date:'EEE, d MMMM yyyy'}}</time>

        <div class="rating">{{film.rating}}</div>
    </div>
</div>

<div class="result">

    <span ng-if="films[0].rating > films[1].rating">Preadtor wins! (obviously)</span>
    <span ng-if="films[0].rating < films[1].rating">{{films[1].title}} wins!</span>
    <span ng-if="films[0].rating === films[1].rating">{{films[1].title}} is just as good as Predator.</span>

    <a href="http://twitter.com/">Tweet the showdown</a>

</div>