<h1>
    <span ng-if="films[0].ratings.combined > films[1].ratings.combined">Predator wins! (obviously)</span>
    <span ng-if="films[0].ratings.combined < films[1].ratings.combined">{{films[1].title}} wins!</span>
    <span ng-if="films[0].ratings.combined === films[1].ratings.combined">{{films[1].title}} is just as good as Predator.</span>
</h1>

<div class="versus__films">
    <div ng-repeat="film in films" class="versus__films__film">
        <img ng-src="{{film.posters.original}}" class="versus__films__poster" width="300">

        <div class="versus__films__rating">
            <div class="rating__score">{{film.ratings.combined}}</div>
            <div
                class="rating__star"
                star-width="51"
                star-height="49"
                rows="2"
                outof="10"
                ng-attr-rating="{{film.ratings.combined}}"
                ng-attr-id="{{film.id}}"
                ng-stars>
            </div>

        </div>

    </div>
</div>

<div class="versus__info">
    <hr>

    <h3>Why does this even exist?</h3>

    <p>Because <a href="http://linssen.me/">Wil</a>, <a href="http://gregorywood.co.uk/">Greg</a>,
        and <a href="http://glenswinfield.co.uk">Glen</a> were in a pub once
        and they thought you should be able to compare films to Predator. It is
        after all the ultimate benchmark.</p>

    <a class="versus__info__button" href="/">
        <span class="icon__again"></span> Again!
    </a>
    <a class="versus__info__button" target="_blank" href="https://twitter.com/share/?url={{shareUrl}}&via=linssen&text=I%20just%20found%20out%20that%20{{films[1].title}}%20({{films[1].release_dates.computed | date:'yyyy'}})%20is{{films[0].ratings.combined > films[1].ratings.combined && 'n\'t as good as' || ' better than'}}%20{{films[0].title}}%20({{films[0].release_dates.computed | date:'yyyy'}}).">
        <span class="icon__tweet"></span> Tweet this
    </a>

    <p class="versus__info__credit">Copyright &copy; {{now | date:'yyyy'}} <a href="http://linssen.me/">Wil Linssen</a>.</p>

</div>

