<h1>
    <span ng-if="films[0].vote_average > films[1].vote_average">Predator wins! (obviously)</span>
    <span ng-if="films[0].vote_average < films[1].vote_average">{{films[1].title}} wins!</span>
    <span ng-if="films[0].vote_average === films[1].vote_average">{{films[1].title}} is just as good as Predator.</span>
</h1>

<div class="film-results">
    <div ng-repeat="film in films" class="film-results__film">
        <div class="film-results__poster">
            <img ng-src="{{film.poster}}" width="300">
        </div>

        <div class="film-results__rating">
            <div class="film-results__score">{{film.vote_average}}</div>
            <div
                class="film-results__stars"
                star-width="51"
                star-height="49"
                rows="2"
                outof="10"
                ng-attr-rating="{{film.vote_average}}"
                ng-attr-id="{{film.id}}"
                ng-stars>
            </div>

        </div>

    </div>
</div>

<div class="info">
    <hr>

    <h3>Why does this even exist?</h3>

    <p>Because <a href="http://twitter.com/linssen">Wil</a>, <a href="http://twitter.com/gregwood">Greg</a>,
        and <a href="http://twitter.com/glenswinfield">Glen</a> were in a pub once
        and they thought you should be able to compare films to Predator. It is
        after all the ultimate benchmark.</p>

    <a class="button button--again info__button" href="/">
        Again!
    </a>
    <a class="button button--tweet info__button info__button--last" target="_blank" href="https://twitter.com/share/?url={{shareUrl}}&via=linssen&text=I%20just%20found%20out%20that%20{{films[1].title | truncate:40}}%20({{films[1].release_dates.computed | date:'yyyy'}})%20is{{films[0].vote_average > films[1].vote_average && 'n\'t as good as' || ' better than'}}%20{{films[0].title}}%20({{films[0].release_dates.computed | date:'yyyy'}}).">
        Tweet this
    </a>

    <p class="credit">
        Copyright &copy; {{now | date:'yyyy'}} <a href="http://linssen.me/">Wil Linssen</a>,
        and all of the code is <a href="http://github.com/linssen/better_than_predator">on GitHub</a>.
    </p>

</div>

