h1 {
  border-bottom: 1px dashed white;
}
a {
  @apply text-white;
}
p {
  @apply leading-tight font-normal mb-6 text-2xl;
}
.score-text {
  font-size: 4rem;
  line-height: 1;
}
.score-chart {
  height: 3.5rem;
}

.btn:hover {
}
.icon-twitter,
.icon-back {

}
