{% extends 'base.html' %}

{% block page_heading %}<h1>Better than Predator</h1>{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success">
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{% autoescape false %}{{ message }}{% endautoescape %}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('versus') }}" method="post">
        <input name="versus" type="text">
        <input name="imdb_id" type="hidden">
        <button type="submit" name="submit">Go</button>
    </form>

{% endblock %}