{% extends 'base.html' %}

{% block page_heading %}{% endblock %}

{% block content %}

    <div class="films">
        {% for film in [comparator, versus] %}
            <div class="film{% if film.winner %} winner{% endif %}">

                <img src="/{{ film.poster }}" alt="{{ film.title }}'s poster">

                <p class="score">{{ film.rating }} <span>/ 10</span></p>
            </div>

            {% if loop.first %}
                <video class="versus" height="450" width="800"  autoplay="autoplay" loop="true">
                    <source src="/static/images/fire.mp4"  type="video/mp4">
                </video>
            {% endif %}

        {% endfor %}
    </div>

    <p class="outcome">
        {% if comparator.winner %}
            {{ comparator.title }} wins! (obviously)
        {% else %}
            {{ versus.title }} wins!
        {% endif %}
    </p>

    <p class="canonical">Link to this page: <a href="{{ url }}">{{ url }}</a></p>

{% endblock %}