{% extends 'base.html' %}

{% block content %}

    <h1>{{ comparator.title|safe }} vs. {{ versus.title|safe }}</h1>

    <p>{{ comparator.ratings.critics_score }}% - {{ versus.ratings.critics_score }}%</p>
    <p>
        {% if comparator.ratings.critics_score > versus.ratings.critics_score %}
            No. Obviously {{ comparator.title|safe }} is better.
        {% elif comparator.ratings.critics_score == versus.ratings.critics_score %}
            {{ versus.title|safe }} is equally as awesome as {{ comparator.title|safe }}
        {% else %}
            Yes, {{ versus.title|safe }} is better than {{ comparator.title|safe }}.
        {% endif %}
    </p>
    <p>Link to this page: <a href="{{ url }}">{{ url }}</a></p>

{% endblock %}