@import './../bower_components/neat/app/assets/stylesheets/neat-helpers';

$visual-grid: false;
$visual-grid-color: yellow;
$visual-grid-index: front;
$visual-grid-opacity: 0.5;

$small: new-breakpoint(max-width 700px 4);