@import 'reset';
@import './../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'grid-settings';
@import './../bower_components/neat/app/assets/stylesheets/neat';

/*

    Better than Predator

    @version: 1.0
    @author: Wil Linssen

    CONTENTS ----------

        - BODY
        - FOOTER
        - GLOBAL STYLES
        - SEARCH
        - RESULTS

    -------------------

*/

$base_font: 16;
$font_stack: 'Pathway Gothic One', sans-serif;
$color__contast: #343739;
// $visual_grid: true;

/* BODY
--------------------------------------------------------- */

body {
    background: url(/static/images/bigbg.jpg) no-repeat center center fixed #050D10;
    @include prefixer(background-size, cover, webkit moz o);
    font-family: $font_stack;
    font-size: 100%;
    line-height: em(16);
    color: #fff;
}
#main {
    @include outer-container;

    padding-top: em(24);

    @include media($small) {
        padding-top: em(8);
    }
}

/* GLOBAL
--------------------------------------------------------- */
a {
    text-decoration: underline;
    color: #fff;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}
%button {
    display: inline-block;
    text-decoration: none;
    padding: em(8);
    line-height: 1em;
    text-align: center;
    background: $color__contast;
    margin-bottom: em(24, 24);
    padding: em(16, 24);

    &:hover,
    &:focus {
        background-color: lighten($color__contast, 5);
    }
}
%icon {
    display: inline-block;
    padding: em(16, 24);
    margin: em(-16, 24) 0 em(-16, 24) em(-16, 24);
    background: darken($color__contast, 0.5);
}
h1 {
    @include span-columns(6);
    @include shift(6);

    font-size: em(56);
    line-height: 1em;
    text-align: center;
    margin-bottom: em(24, 56);
    color: white;

    @include media($small) {
        @include fill-parent;
        @include shift(0);

        font-size: em(40);
    }
}
h2 {
    font-size: em(40);
    line-height: 1em;
    padding: 0 em(4, 40);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;

    @include media($small) {
        font-size: em(24);
    }
}
h3 {
    font-size: em(40, 24);
    margin-bottom: em(24, 40);
}
p {
    margin-bottom: 1em;
}
hr {
    @include fill-parent;

    border: 0;
    border-bottom: 1px dashed #fff;
    background: none;
    margin-bottom: em(24, 24);

    @include media($small) {
        display: none;
    }
}


/* SEARCH
--------------------------------------------------------- */
.search {
    @include span-columns(8);
    @include shift(2);

    font-size: em(24);
}
.search__query__input {
    @include fill-parent;

    font-family: $font_stack;
    padding: em(16, 24) em(40, 24) em(16, 24) em(16, 24);
    border: none;
}
.search__query__input--loading {
    background: #fff url('/static/images/dots.gif') no-repeat 97% 50%;
}
.search__results {
    background: transparentize($color__contast, 0.6);
    clear: both;
}
.search__results__film {
    padding: em(8, 20);
    line-height: 1em;
    color: white;
    text-decoration: none;
    display: block;
}
.search__results__film--active,
.search__results__film:hover,
.search__results__film:focus {
    background: $color__contast;
}


/* RESULTS
--------------------------------------------------------- */
.versus__films {
    @include span-columns(6);

    margin-bottom: em(24);
    position: absolute;
    left: 0;

    @include media($small) {
        @include fill-parent;

        position: static;
    }
}
.versus__films__film {
    @include span-columns(3 of 6);

    position: relative;

    @include media($small) {
        @include span-columns(2);
    }
}
.versus__films__poster,
.versus__films__rating {
    @include box-sizing(border-box);

    padding: 8px;
    background: white;
}
.versus__films__poster {
    width: 100%;
}
.versus__films__rating {
    font-size: em(64);
    line-height: 1;
    color: #506666;
    letter-spacing: -3px;

    @include media($small) {
        font-size: em(48);
        width: 100%;
        border: 8px solid #fff;
        border-top: none;
        position: absolute;
        left: 0;
        bottom: 0;
        background: transparentize($color__contast, 0.1);
        color: #fff;
    }

    small {
        font-size: em(24, 96);
        letter-spacing: 0;
    }
}
.versus__info {
    @include span-columns(6);
    @include shift(6);

    font-size: em(24);
    color: white;
    line-height: 1.2;
    position: static;

    @include media($small) {
        @include span-columns(2);
        @include shift(0);

        position: relative;
        font-size: em(16);
    }
}
.versus__info__button {
    @include span-columns(3 of 6);
    @extend %button;

    @include media($small) {
        @include fill-parent;
        @include omega;
        @include shift(2 of 2);

        position: absolute;
        left: 0;
        top: 0;
    }
}
.versus__info__button:nth-of-type(2) {
    @include omega;

    @include media($small) {
        top: 3em;
    }
}
.rating__score {
    width: 20%;
    display: block;
    float: left;
}
.rating__star {
    width: 70%;
    float: right;

    svg {
        width: 20%;
        height: auto;
    }
}
.icon__again {
    background-image: url('/static/images/arrow-left.svg');
}
.versus__info__credit {
    font-size: em(16, 24);
}
