@import 'reset';
@import './../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'grid-settings';
@import './../bower_components/neat/app/assets/stylesheets/neat';

/*

    Better than Predator

    @version: 1.0
    @author: Wil Linssen

    CONTENTS ----------

        - BODY
        - FOOTER
        - GLOBAL STYLES
        - SEARCH
        - RESULTS

    -------------------

*/

$base_font: 16;
$font_stack: 'Pathway Gothic One', sans-serif;
// $visual_grid: true;

/* BODY
--------------------------------------------------------- */

body {
    background: url(/static/images/bigbg.jpg) no-repeat center center fixed #050D10;
    @include prefixer(background-size, cover, webkit moz o);
    font-family: $font_stack;
    font-size: 100%;
    line-height: em(16);
}

#main {
    @include outer-container;

    padding-top: em(24);
}

/* GLOBAL
--------------------------------------------------------- */
a {
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}
a.btn {
    background: #343739;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: em(8);
    line-height: 1em;

    &:hover,
    &:focus {
        background-color: lighten(#343739, 5);
    }
}

/* SEARCH
--------------------------------------------------------- */
.search {
    @include span-columns(8);
    @include shift(2);

    font-size: em(24);
}
.search__query__input {
    @include fill-parent;

    font-family: $font_stack;
    padding: em(16, 24) em(40, 24) em(16, 24) em(16, 24);
    border: none;
}

.search__query--loading:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: em(16, 24);
    width: 33px;
    height: em(43, 20);
    background: url('/static/images/dots.gif') no-repeat 50% 50%;
}
.search__results {
    background: transparentize(#343739, 0.6);
    clear: both;
}
.search__results__film {
    padding: em(8, 20);
    color: white;
    text-decoration: none;
    display: block;
}
.search__results__film--active,
.search__results__film:hover,
.search__results__film:focus {
    background: #343739;
}


/* RESULTS
--------------------------------------------------------- */
.films {
    @include span-columns(6);

    @include media($small) {
        @include span-columns(2);
    }
}
.film {
    @include span-columns(3 of 6);

    @include media($small) {
        @include span-columns(1 of 2);
    }

    background: white;
    position: relative;

    h2 {
        font-size: em(40);
        line-height: 1em;
        padding: 0 em(4, 40);
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: uppercase;

        @include media($small) {
            font-size: em(24);
        }
    }
    .poster {
        width: 100%;
    }
    .rating {
        font-size: em(96);
        line-height: 1;
        color: #506666;
        letter-spacing: -3px;

        @include media($small) {
            font-size: em(48);
        }

        small {
            font-size: em(24, 96);
            letter-spacing: 0;
        }
    }
}

.result {
    @include span-columns(6);

    font-size: em(24);
    color: white;
    line-height: 1.2;

    @include media($small) {
        @include span-columns(2);

        font-size: em(16);
    }

    a {
        color: #fff;
    }
    .share {
        @include span-columns(4 of 6);
        @include shift(1);

        display: block;
        text-align: center;
        background: #343739 url('/static/images/twitter.svg') no-repeat em(16, 24) 50%;
        margin-bottom: em(24, 24);
        padding: em(16, 24) em(16, 24) em(16, 24) em(61, 24);

    }
    .again {
        background: #343739 url('/static/images/arrow-left.svg') no-repeat em(16, 24) 50%;
        padding: em(16, 24) em(16, 24) em(16, 24) em(61, 24);
    }
    hr {
        @include fill-parent;

        border: 0;
        border-bottom: 1px dashed #fff;
        background: none;
        margin-bottom: em(24, 24);
    }
    h1 {
        font-size: em(56, 24);
        line-height: 1;
        width: 100%;
        text-align: center;
        margin-bottom: em(24, 56);
    }
    h3 {
        font-size: em(40, 24);
        margin-bottom: em(24, 40);
    }
    p {
        margin-bottom: 1em;
    }
    .credit {
        font-size: em(16, 24);
    }
}