@import "reset";


/*

    Better than Predator

    @version: 1.0
    @author: Wil Linssen & Greg Wood

    CONTENTS ----------

        - BODY

    -------------------

*/


// @start BODY -------------------- //

html {
    overflow-y:scroll;
}

body {
    background-color:white;
    color:black;
}