@import "reset";


/*

    Better than Predator

    @version: 1.0
    @author: Wil Linssen & Greg Wood

    CONTENTS ----------

        - BODY
        - FORM

    -------------------

*/


/* BODY
--------------------------------------------------------- */

html {
    overflow-y:scroll;
}

body {
    background-color:white;
    color:black;
}

/* FORM
--------------------------------------------------------- */

.ui-autocomplete-loading {
    background: url("/static/images/ajax-loader.gif") no-repeat 98% 50%;
}
.ui-helper-hidden-accessible {
    display: none;
}
.ui-menu {
    background: white;
    display: block;

    a {
        background: lighten(black, 80%);

        &.ui-state-focus,
        &.ui-state-active {
            background: lighten(black, 30%);
            color: white;
        }
    }
}