@import "helpers", "reset";


/*

    Better than Predator

    @version: 1.0
    @author: Wil Linssen

    CONTENTS ----------

        - BODY
        - FOOTER
        - GLOBAL STYLES
        - SEARCH
        - RESULTS

    -------------------

*/

$base_font: 16;

/* BODY
--------------------------------------------------------- */

body {
    background: url(/static/images/bigbg.jpg) no-repeat center center fixed #050D10;
    @include prefixer(background-size, cover);
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 100%;
}

section[role="main"] {
    padding: em(35) 0;
    overflow: hidden;
}

/* GLOBAL
--------------------------------------------------------- */
a {
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}
a.btn {
    background: #343739;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: em(10);
    line-height: 1;

    &:hover,
    &:focus {
        background-color: lighten(#343739, 5);
    }
}

/* SEARCH
--------------------------------------------------------- */
.search {
    width: 70%;
    margin: 0 auto;
}
.search__query {
    width: 100%;
    font-size: em(40);
    margin-bottom: em(10, 40);
}
.search__results {
    background: transparentize(#343739, 0.6);
}
.search__results__film {
    font-size: em(20);
    padding: em(5, 20);
    color: white;
    text-decoration: none;
    display: block;
}
.search__results__film--active,
.search__results__film:hover,
.search__results__film:focus {
    background: #343739;
}


/* RESULTS
--------------------------------------------------------- */
.films {
    margin-left: 4.8%;
    float: left;
}
.film {
    width: 290px;
    height: 649px;
    background: url('/static/images/ticket.svg') no-repeat 0 0;
    float: left;
    margin-right: 70px;
    padding: em(20) em(5) em(5) em(5);
    position: relative;

    h2 {
        font-size: em(40);
        line-height: 1em;
        width: 100%;
        height: 1em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: uppercase;
    }
    .poster {
        margin: 0 em(-5) em(34) em(-5);
        width: 300px;
        height: 444px;
    }
    .rating {
        padding: 0 0 0 em(14, 100);
        font-size: em(100);
        color: #506666;
        letter-spacing: -3px;

        small {
            font-size: em(24, 100);
            letter-spacing: 0;
        }
    }
}

.result {
    width: 400px;
    float: left;
    padding-top: em(10, 20);
    font-size: em(20);
    color: white;
    line-height: 1.2;

    a {
        color: #fff;
    }
    .share {
        width: 50%;
        display: block;
        padding-left: em(40);
        background: #343739 url('/static/images/twitter.svg') no-repeat em(20) 50%;
        margin: 0 auto em(35) auto;

    }
    .again {
        background: #343739 url('/static/images/arrow-left.svg') no-repeat em(10) 50%;
        padding-left: em(45);
    }
    hr {
        border: 0;
        border-bottom: 1px dashed #fff;
        background: none;
        margin-bottom: em(35);
    }
    h1 {
        font-size: em(40);
        line-height: 1;
        width: 100%;
        text-align: center;
        margin-bottom: em(35, 40);
    }
    h3 {
        font-size: em(30);
        line-height: 1;
        margin-bottom: em(20, 30);
    }
    p {
        margin-bottom: 1em;
    }
    .credit {
        font-size: 0.85em;
    }
}